body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #090909;
}

nav {
    color: #fff;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s ease;
}

nav.sticky {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
}

nav a, header a {
    color: #fff;
    text-decoration: none;
}

nav .container {
    max-width: 1150px;
    padding: 1em 2em;
    margin: 0 auto;
}

.containerGenerale {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    width: 4em;
    display: inline-block;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

nav .container .menu-btn {
    display: none;
}

nav .social-icons i {
    margin: 8px;
    font-size: 20px;
}

header {
    height: 100vh;
    background-color: #090909;
    position: relative;
    overflow: hidden;
    color: #fff;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: -40em;
    background: linear-gradient(45deg, rgb(223, 2, 2), #abf128);
    width: 100%;
    height: 120%;
    transform: rotate(70deg);
    z-index: 0;
}

.body {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2em;
    height: 100%;
    position: relative;
    z-index: 1;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 3em;
}

.body h1 {
    font-size: 3.5em;
    margin-bottom: 0;
    display: inline-block;
}

.body p {
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 0.9em;
    margin: 2em 0 3em 0;
    max-width: 45em;
}

body .btn {
    background-color: #fff;
    padding: 14px 20px;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: 0.4s ease;
}

body .btn:hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
}

.btn .fa-arrow-right {
    transition: 0.4s;
}

body .btn:hover .fa-arrow-right {
    margin-left: 6px;
}

.body img {
    width: 45em;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
}

.servizi {
    height: fit-content;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #fff;
}

.serviziTitle {
    position: relative;
    text-align: center;
    color: #000;
    font-size: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.serviziTitle .servizi-line {
  background-color: #000;
  height: 3px;
  width: 90px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.serviziContent {
    width: 100%;
    height: fit-content;
}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-col {
    background-color: #fff;
    padding: 10% 15%;
    border-radius: 10px;
    color: #000;
    text-align: center;
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.3);
}

.price-col h3 {
    font-size: 34px;
    margin: 20px 0 40px;
    font-weight: 600;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: #000;
    list-style: none;
}

.price-col ul li {
    margin: 15px 0;
}

.price-col ul li i.fa-check {
    color: rgb(14, 194, 14);
}

.price-col ul li i.fa-xmark {
    color: red;
}

.price-col button {
    width: 100%;
    padding: 14px 0;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 15px;
    border: 1px solid #1f1f1f;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover {
    color: #000;
    background-color: transparent;
}

.galleria {
    height: fit-content;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #090909;
}

.galleriaTitle {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.galleriaTitle .galleria-line {
    background-color: #fff;
    height: 3px;
    width: 90px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.galleriaContent {
    padding-left: 50px;
    padding-right: 50px;
}

.image-grid, .image-grid2 {
    --gap: 16px; /*variabile*/
    --num-cols: 4; /*variabile*/
    --row-height: 300px; /*variabile*/
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap); 
}

.image-grid2 {
    padding: 0 var(--gap);
}

.image-grid > img, .image-grid2 > img, .image-grid > video, .image-grid2 > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.contatti {
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #fff;
}

.contattiTitle {
    position: relative;
    text-align: center;
    color: #000;
    font-size: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.contattiTitle .contatti-line {
    background-color: #000;
    height: 3px;
    width: 90px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.contattiContent .social-icons {
    height: 50px;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contattiContent .social-icons a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090909;
    border: 2px solid transparent;
    height: 53px;
    width: 53px;
    margin: 5px;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.contattiContent .social-icons a:hover {
    background-color: #fff;
    border-color: #090909;
    color: #000;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: fit-content;
    width: 100%;
    background-color: #090909;
    display: flex;
    flex-direction: column;
}

.info {
    height: fit-content;
    padding-left: 170px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.info a, .developer a {
    color: #fff;
    transition: 0.4s;
    width: fit-content;
}

.info a:hover, .developer a:hover {
    opacity: 0.6;
}

.developer {
    padding-left: 170px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.developer p {
    color: #cfcdcd;
}

.developer a {
    text-decoration: none;
}

.developer span {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .image-grid, .image-grid2 {
        --num-cols: 2;
        --row-height: 200px;
    }
}

@media screen and (max-width: 1000px) {
    nav .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav .container > div {
        grid-template-columns: 1fr;
    }
    nav .menu, .social-icons {
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
    }
    nav ul li {
        display: block;
        margin: 0.5em 0;
    }
    nav ul li:nth-child(1) {
        margin-top: 1.5em;
    }
    nav .container .menu-btn {
        display: inline-block;
        font-size: 1.4em;
        cursor: pointer;
    }
    nav .container .nav-toggle {
        height: 16em;
        background-color: rebeccapurple;
    }
}

@media screen and (max-width: 1210px) {
    nav {
        margin-bottom: 2em;
    }
    .body {
        grid-template-columns: 1fr;
        text-align: center;
    }
    header::before {
        display: none;
    }
    header {
        height: initial;
    }
    .body > div:nth-child(2) {
        justify-content: center;
        margin: 3em 0;
    }
    .body img {
        transform: none;
    }
    .body p {
        margin: 2em auto 3em auto;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }
    .body img {
        width: 90%;
    }
}

@media screen and (max-height: 650px) {
    header {
        height: initial;
    }
}


